################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureSphereExp/v16/Preview/Browse.VC.opendb
